body {
  font-size: var(--aliasTypographyBodyNormalNormalFontSize);
  font-family: var(--font-body);
  font-weight: var(--aliasTypographyBodyNormalNormalFontWeight);
  line-height: var(--aliasTypographyBodyNormalNormalLineHeight);
}

h2 {
  font-size: var(--aliasTypographyTitleH2FontSize);
  line-height: var(--aliasTypographyTitleH2LineHeight);
  font-weight: var(--aliasTypographyTitleH2FontWeight);
  font-family: var(--font-headings);
}

h3 {
  font-size: var(--aliasTypographyTitleH3FontSize);
  line-height: var(--aliasTypographyTitleH3LineHeight);
  font-weight: var(--aliasTypographyTitleH3FontWeight);
  font-family: var(--font-headings);
}

h4 {
  font-size: var(--aliasTypographyTitleH4FontSize);
  line-height: var(--aliasTypographyTitleH4LineHeight);
  font-weight: var(--aliasTypographyTitleH4FontWeight);
  font-family: var(--font-headings);
}

h5 {
  font-size: var(--aliasTypographyTitleH5FontSize);
  line-height: var(--aliasTypographyTitleH5LineHeight);
  font-weight: var(--aliasTypographyTitleH5FontWeight);
  font-family: var(--font-headings);
}

button {
  font-size: var(--aliasTypographyBodyNormalLedeFontSize);
  line-height: var(--aliasTypographyBodyNormalLedeLineHeight);
  font-weight: var(--aliasTypographyBodyNormalLedeFontWeight);
  font-family: var(--font-headings);
}

h6 {
  font-size: var(--aliasFontSizeBodySm);
  font-weight: var(--aliasFontWeightHeading);
}

:root {
  --aliasSurfacePrimary1: #dfe9fd;
  --aliasSurfacePrimary2: #b9cff8;
  --aliasSurfacePrimaryOnPrimary: #23007d;
  --aliasSurfacePrimaryOnPrimaryMuted: #1832e3;
  --aliasSurfaceNeutral1: #e9e9e9;
  --aliasSurfaceNeutral2: #cecece;
  --aliasSurfaceNeutralOnNeutral: #252525;

  /** Font-family */
  --font-headings: "Rajdhani", sans-serif;
  --font-body: "Roboto", sans-serif;

  /** Font-size */
  --aliasFontSizeBodySm: 13px;
  --aliasFontSizeBodyMd: 16px;
  --aliasFontSizeBodyLg: 20px;
  --aliasFontSizeHeadingSm: 20px;
  --aliasFontSizeHeadingMd: 25px;
  --aliasFontSizeHeadingLg: 31px;
  --aliasFontSizeHeadingXl: 39px;
  --aliasFontSizeHeadingDisplay: 49px;

  /** Font-weight */
  --aliasFontWeightBody: 400;
  --aliasFontWeightHeading: 700;
  --aliasFontWeightLede: 500;

  --aliasLineHeightBody: 1.6;
  --aliasLineHeightHeading: 1.1;
  --aliasLineHeightLede: 1.3;

  /** h5 */

  --aliasTypographyTitleH5FontWeight: 700;
  --aliasTypographyTitleH5LineHeight: 1.1;
  --aliasTypographyTitleH5FontSize: 20px;
  /** h4*/

  --aliasTypographyTitleH4FontWeight: 700;
  --aliasTypographyTitleH4LineHeight: 1.1;
  --aliasTypographyTitleH4FontSize: 25px;
  /** h3*/

  --aliasTypographyTitleH3FontWeight: 500;
  --aliasTypographyTitleH3LineHeight: 1.3;
  --aliasTypographyTitleH3FontSize: 31px;
  /** Font-size h2*/

  --aliasTypographyTitleH2FontWeight: 700;
  --aliasTypographyTitleH2LineHeight: 1.1;
  --aliasTypographyTitleH2FontSize: 39px;
  /** Font-size h1*/

  --aliasTypographyTitleDisplayFontWeight: 700;
  --aliasTypographyTitleDisplayLineHeight: 1.1;
  --aliasTypographyTitleDisplayFontSize: 49px;
  /** Font-size */

  --aliasTypographyBodyNormalLegalFontWeight: 400;
  --aliasTypographyBodyNormalLegalLineHeight: 1.6;
  --aliasTypographyBodyNormalLegalFontSize: 13px;
  /** Font-size body */
  --aliasTypographyBodyNormalNormalFontWeight: 400;
  --aliasTypographyBodyNormalNormalLineHeight: 1.6;
  --aliasTypographyBodyNormalNormalFontSize: 16px;

  /** Font-size button */
  --aliasTypographyBodyNormalLedeFontWeight: 700;
  --aliasTypographyBodyNormalLedeLineHeight: 1.3;
  --aliasTypographyBodyNormalLedeFontSize: 18px;

  --aliasTypographyBodyStrongLegalFontWeight: 700;
  --aliasTypographyBodyStrongLegalLineHeight: 1.6;
  --aliasTypographyBodyStrongLegalFontSize: 13px;

  --aliasTypographyBodyStrongNormalFontFamily: Inter;
  --aliasTypographyBodyStrongNormalFontWeight: 700;
  --aliasTypographyBodyStrongNormalLineHeight: 1.6;
  --aliasTypographyBodyStrongNormalFontSize: 16px;
  --aliasTextDefault: #3a3a3a;
  --aliasTextMuted: #686868;
}
