---
import Card from "../components/Card.astro";
import Label from "../components/Label.astro";
import "../styles/global.css";
import "../styles/alias.css";
import CardTilbud from "../components/CardTilbud.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;500;600;700&family=Roboto:wght@100;300;400;500;700&display=swap" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <main>
      <h1>Komponentbibliotek</h1>
      <h2>Labels</h2>
      <section>
        <Label variant="nyhed">Nyhed</Label>

        <Label variant="tilbud">-28%</Label>

        <Label variant="tilbage">F책 tilbage</Label>
      </section>
      <section>
        <div class="card">
          <Card link="src/billede/ninja.png" title="Produktinformation" str="2-5책r" pris="499" />
        </div>
        <Card link="src/billede/ninja.png" title="Produktinformation" str="2-5 책r" pris="499" />
        <CardTilbud link="src/billede/ninja.png" title="Produktinformation" str="2-5 책r" pris="499" forpris="599" />
      </section>
    </main>
  </body>
</html>

<style>
  main {
    display: flex;
    gap: 20px;
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
  }

  .label {
    position: absolute;
    left: 10px;
  }

  section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .card {
  }
</style>
