---
import Card from "../components/Card.astro";
import CardTilbage from "../components/CardTilbage.astro";
import CardTilbud from "../components/CardTilbud.astro";
import Label from "../components/Label.astro";
import Button from "../components/Button.astro";
import "../styles/global.css";
import "../styles/alias.css";

// test
// import Card from "../components/CardTest.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;500;600;700&family=Roboto:wght@100;300;400;500;700&display=swap" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <main>
      <h1>Komponentbibliotek</h1>
      <div>
        <a href="/singleview">Singleview</a>
      </div>
      <h2>Labels</h2>

      <section>
        <Label variant="nyhed">Nyhed</Label>

        <Label variant="tilbud">-28%</Label>

        <Label variant="tilbage">Få tilbage</Label>
      </section>
      <h2>Cards</h2>
      <section>
        <!-- <div class="card">
          <Card link="src/billede/ninja.png" title="Produktrubrik" str="2-5år" pris="499" />
        </div>
        <Card link="src/billede/ninja.png" title="Produktrubrik" str="2-5 år" pris="499" />
        <CardTilbud link="src/billede/ninja.png" title="Produktrubrik" str="2-5 år" pris="499" forpris="599" /> -->

        <!-- nyt -->
        <CardTilbud link="src/billede/ninja.png" title="Produktrubrik" str="2-5 år" pris="499" forpris="599" />
        <CardTilbage link="src/billede/ninja.png" title="Produktrubrik" str="2-5 år" pris="499" />
        <Card link="src/billede/ninja.png" title="Produktrubrik" str="2-5 år" pris="499" banner="nyhed" />
        <!--  -->
      </section>
      <section class="font_color">
        <article class="fonts">
          <h2>Fonts</h2>
          <div class="info">
            <h1>Dette er en H1</h1>
            <p>FontWeight: 700</p>
            <p>Linehight: 1.1</p>
            <p>Font-size: 49px</p>
            <p>Font-family: "Rajdhani", sans-serif</p>
          </div>
          <div class="info">
            <h2>Dette er en H2</h2>
            <p>FontWeight: 700</p>
            <p>Linehight: 1.1</p>
            <p>Font-size: 39px</p>
            <p>Font-family: "Rajdhani", sans-serif</p>
          </div>
          <div class="info">
            <h3>Dette er en H3</h3>
            <p>FontWeight: 500</p>
            <p>Linehight: 1.3</p>
            <p>Font-size: 31px</p>
            <p>Font-family: "Rajdhani", sans-serif</p>
          </div>
          <div class="info">
            <h4>Dette er en H4</h4>
            <p>FontWeight: 700</p>
            <p>Linehight: 1.1</p>
            <p>Font-size: 25px</p>
            <p>Font-family: "Rajdhani", sans-serif</p>
          </div>
          <div class="info">
            <h5>Dette er en H5</h5>
            <p>FontWeight: 700</p>
            <p>Linehight: 1.1</p>
            <p>Font-size: 20px</p>
            <p>
              Font-family: "Rajdhani", sans-serif
              <p>Text-transform: Uppercase</p>
            </p>
          </div>
          <div class="info">
            <h6>Dette er en H6</h6>
            <p>FontWeight: 700</p>
            <p>Linehight: 1.1</p>
            <p>Font-size: 13px</p>
            <p>Font-family: "Rajdhani", sans-serif</p>
          </div>
          <div class="info">
            <p>Dette er en paragraf</p>
            <p>FontWeight: 400</p>
            <p>Linehight: 1.6</p>
            <p>Font-size: 16px</p>
            <p>Font-family: "Roboto", sans-serif</p>
          </div>
          <div class="info">
            <p class="storrelse">Dette er før størrelser</p>
            <p>FontWeight: 300</p>
            <p>Linehight: 1.1</p>
            <p>Font-size: 39px</p>
            <p>Font-family: "Roboto", sans-serif</p>
          </div>
        </article>

        <article class="farver">
          <h2>Farver</h2>
          <div class="farve">
            <div class="gul"></div>
            <h5>Få tilbage</h5>
            <p>#f1c21b</p>
          </div>

          <div class="farve">
            <div class="rød"></div>
            <h5>Tilbud</h5>
            <p>#b92634</p>
          </div>

          <div class="farve">
            <div class="tilbudtekst"></div>
            <h5>Tilbudtekst</h5>
            <p>#e53e3e</p>

            <div class="farve">
              <div class="grøn"></div>
              <h5>Nyhed</h5>
              <p>#00c154</p>
            </div>

            <div class="farve">
              <div class="læs"></div>
              <h5>Læs mere</h5>
              <p>#0f62fe</p>
            </div>

            <div class="farve">
              <div class="sort"></div>
              <h5>Sort</h5>
              <p>#000</p>
            </div>

            <div class="farve">
              <div class="blue-800"></div>
              <h5>Blue-800</h5>
              <p>#1600c5</p>
            </div>

            <div class="farve">
              <div class="hvid"></div>
              <h5>White</h5>
              <p>#fff</p>
            </div>
          </div>
        </article>
        <article>
          <h2>Button</h2>
          <Button>læs mere</Button>
          <p>Background: #0f62fe</p>
          <p>Hover: #1600c5</p>
          <p>FontWeight: 700</p>
          <p>Linehight: 1.3</p>
          <p>Font-size: 18px</p>
          <p>Font-family: "Rajdhani", sans-serif</p>
          <p>Text-transform: uppercase</p>
          <p>Text-color: #fff</p>
          <p>padding-block: 5px</p>
          <p>padding-inline: 10px</p>
        </article>
        <article class="card-article">
          <h2>Card</h2>
          <CardTilbud link="src/billede/ninja.png" title="Produktrubrik" str="2-5 år" pris="499" forpris="599" />
          <p>Border-radius: 16px</p>
          <p>Border: 1px solid #dfe1df</p>
          <p>Width: 270px</p>
        </article>
      </section>
    </main>

    <style>
      main {
        display: flex;
        gap: 20px;
        flex-direction: column;
        max-width: 1200px;
        margin: 0 auto;
      }

      section {
        display: flex;
        flex-direction: row;
        gap: 20px;
      }
      .font_color {
        display: flex;
        flex-direction: row;
        gap: 100px;
      }
      .info {
        display: flex;
        flex-direction: column;
        gap: 3px;
      }

      .card-article {
        display: flex;
        flex-direction: column;
      }
      .fonts {
        display: flex;
        flex-direction: column;
        gap: 15px;
      }

      .farver {
        display: flex;
        flex-direction: column;
        gap: 15px;
      }
      .farve {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 3px;
      }
      .gul {
        width: 70px;
        height: 70px;
        border-radius: 9999px;
        background-color: var(--få-tilbage-yellow);
      }
      .grøn {
        width: 70px;
        height: 70px;
        border-radius: 9999px;
        background-color: var(--green-tilbud);
      }
      .rød {
        width: 70px;
        height: 70px;
        border-radius: 9999px;
        background-color: var(--red-tilbud);
      }
      .sort {
        width: 70px;
        height: 70px;
        border-radius: 9999px;
        background-color: var(--sort);
      }
      .læs {
        width: 70px;
        height: 70px;
        border-radius: 9999px;
        background-color: var(--blue-knap);
      }

      .tilbudtekst {
        width: 70px;
        height: 70px;
        border-radius: 9999px;
        background-color: var(--red-tilbud-tekst);
      }

      .blue-800 {
        width: 70px;
        height: 70px;
        border-radius: 9999px;
        background-color: var(--blue800);
      }

      .hvid {
        border: 1px solid black;
        width: 70px;
        height: 70px;
        border-radius: 9999px;
        background-color: var(--white);
      }
    </style>
  </body>
</html>
