---
import Card from "../components/Card.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Singleview</title>
	</head>
	<body>
		<main>
			<article>
				<div class="section1">
					<img src="" alt="">
				</div>
				<div class="text_container">
					<h1>Plast figur - Jack Dalton Fange</h1>
					<div class="favorit">
						<button></button>
						<h4>Tilføj som favorit</h4>
					</div>
					<p>Detaljeret håndmalede plastfigurer i god kvalitet, med alle de klassiske figurer i Lucky Luke universet Faraos Cigarer er officiel distributør af Lucky Luke merchandise i Danmark og Norge, og forhandler kun originale Lucky Luke produkter.
					</p>
					<div>
						<div>
							<p>Lagerstatus</p>
							<button></button>
						</div>
						<p>Afsendelse : 1-3 hverdage</p>
					</div>
					<div>
						<div class="antal">
							<div>
								<p>+</p>
							</div>
							<div>
								<p>Antal</p>
							</div>
							<div>
								<p>-</p>
							</div>
						</div>
						<h2>Pris 44 DKK</h2>
					</div>
					<p>Ved køb optjener du 4 point i Klub Fararos</p>
					<div class="linje"></div>
					<div class="container5">
						<p>Andre varer fra Universer</p>
						<p>Se alle varer med Lucky Luke</p>
						<p>Se andre varer i kategorien Figurer</p>
					</div>
				</div>
				<div class="section3">
					<h4>Varenr. 353535</h4>
					<div>
						<img src="" alt="">
						<h5>Fri fragt over 399,-</h5>
					</div>
					<div>
						<img src="" alt="">
						<h5>Hurtig levering</h5>
					</div>
					<div>
						<img src="" alt="">
						<h5>14 dages returret</h5>
					</div>
					<div>
						<img src="" alt="">
						<h5>Byt i vores butikker</h5>
					</div>
				</div>
			</article>
		</main>
	</body>
</html>
<style>
	
</style>