:root {
    --aliasSurfacePrimary1: #dfe9fd;
    --aliasSurfacePrimary2: #b9cff8;
    --aliasSurfacePrimaryOnPrimary: #23007d;
    --aliasSurfacePrimaryOnPrimaryMuted: #1832e3;
    --aliasSurfaceNeutral1: #e9e9e9;
    --aliasSurfaceNeutral2: #cecece;
    --aliasSurfaceNeutralOnNeutral: #252525;
    --aliasFontSizeBodySm: 13px;
    --aliasFontSizeBodyMd: 16px;
    --aliasFontSizeBodyLg: 20px;
    --aliasFontSizeHeadingSm: 20px;
    --aliasFontSizeHeadingMd: 25px;
    --aliasFontSizeHeadingLg: 31px;
    --aliasFontSizeHeadingXl: 39px;
    --aliasFontSizeHeadingDisplay: 49px;
    --aliasFontWeightBody: 400;
    --aliasFontWeightHeading: 700;
    --aliasFontWeightLede: 500;
    --aliasLineHeightBody: 1.6;
    --aliasLineHeightHeading: 1.1;
    --aliasLineHeightLede: 1.3;
    --aliasTypographyTitleH5FontFamily: PP Object Sans;
    --aliasTypographyTitleH5FontWeight: 700;
    --aliasTypographyTitleH5LineHeight: 1.1;
    --aliasTypographyTitleH5FontSize: 20px;
    --aliasTypographyTitleH4FontFamily: PP Object Sans;
    --aliasTypographyTitleH4FontWeight: 700;
    --aliasTypographyTitleH4LineHeight: 1.1;
    --aliasTypographyTitleH4FontSize: 25px;
    --aliasTypographyTitleH3FontFamily: PP Object Sans;
    --aliasTypographyTitleH3FontWeight: 500;
    --aliasTypographyTitleH3LineHeight: 1.3;
    --aliasTypographyTitleH3FontSize: 31px;
    --aliasTypographyTitleH2FontFamily: PP Object Sans;
    --aliasTypographyTitleH2FontWeight: 700;
    --aliasTypographyTitleH2LineHeight: 1.1;
    --aliasTypographyTitleH2FontSize: 39px;
    --aliasTypographyTitleDisplayFontFamily: PP Object Sans;
    --aliasTypographyTitleDisplayFontWeight: 700;
    --aliasTypographyTitleDisplayLineHeight: 1.1;
    --aliasTypographyTitleDisplayFontSize: 49px;
    --aliasTypographyBodyNormalLegalFontFamily: Inter;
    --aliasTypographyBodyNormalLegalFontWeight: 400;
    --aliasTypographyBodyNormalLegalLineHeight: 1.6;
    --aliasTypographyBodyNormalLegalFontSize: 13px;
    --aliasTypographyBodyNormalNormalFontFamily: Inter;
    --aliasTypographyBodyNormalNormalFontWeight: 400;
    --aliasTypographyBodyNormalNormalLineHeight: 1.6;
    --aliasTypographyBodyNormalNormalFontSize: 16px;
    --aliasTypographyBodyNormalLedeFontFamily: Inter;
    --aliasTypographyBodyNormalLedeFontWeight: 500;
    --aliasTypographyBodyNormalLedeLineHeight: 1.3;
    --aliasTypographyBodyNormalLedeFontSize: 20px;
    --aliasTypographyBodyStrongLegalFontFamily: Inter;
    --aliasTypographyBodyStrongLegalFontWeight: 700;
    --aliasTypographyBodyStrongLegalLineHeight: 1.6;
    --aliasTypographyBodyStrongLegalFontSize: 13px;
    --aliasTypographyBodyStrongNormalFontFamily: Inter;
    --aliasTypographyBodyStrongNormalFontWeight: 700;
    --aliasTypographyBodyStrongNormalLineHeight: 1.6;
    --aliasTypographyBodyStrongNormalFontSize: 16px;
    --aliasTextDefault: #3a3a3a;
    --aliasTextMuted: #686868;
}