:root {
    /* farver */
    --Primary1: #dfe9fd;
    --Primary2: #b9cff8;
    --PrimaryOnPrimary: #23007d;
    --PrimaryOnPrimaryMuted: #1832e3;
    --Neutral1: #e9e9e9;
    --Neutral2: #cecece;
    --NeutralOnNeutral: #252525;

    /* fontsize */
    --text-Sm: 13px;
    --text-Md: 16px;
    --text-Lg: 20px;
    --HeadingSm: 20px;
    --HeadingMd: 25px;
    --HeadingLg: 31px;
    --HeadingXl: 39px;
    --HeadingDisplay: 49px;

    /* fontweight */
    --FontWeightBody: 400;
    --FontWeightHeading: 700;
    --FontWeightLede: 500;

    /* lineheight */
    --LineHeightBody: 1.6;
    --LineHeightHeading: 1.1;
    --LineHeightLede: 1.3;

    /* h5 */
    --AliasTitleH5FontFamily: PP Object Sans;
    --AliasTitleH5FontWeight: 700;
    --AliasTitleH5LineHeight: 1.1;
    --AliasTitleH5FontSize: 20px;

    /* h4 */
    --AliasTitleH4FontFamily: PP Object Sans;
    --AliasTitleH4FontWeight: 700;
    --AliasTitleH4LineHeight: 1.1;
    --AliasTitleH4FontSize: 25px;

    /* h3 */
    --AliasTitleH3FontFamily: PP Object Sans;
    --AliasTitleH3FontWeight: 500;
    --AliasTitleH3LineHeight: 1.3;
    --AliasTitleH3FontSize: 31px;

    /* h2 */
    --AliasTitleH2FontFamily: PP Object Sans;
    --AliasTitleH2FontWeight: 700;
    --AliasTitleH2LineHeight: 1.1;
    --AliasTitleH2FontSize: 39px;

    /* Display */
    --AliasTitleDisplayFontFamily: PP Object Sans;
    --AliasTitleDisplayFontWeight: 700;
    --AliasTitleDisplayLineHeight: 1.1;
    --AliasTitleDisplayFontSize: 49px;


    --AliasNormalLegalFontFamily: Inter;
    --AliasNormalLegalFontWeight: 400;
    --AliasNormalLegalLineHeight: 1.6;
    --AliasNormalLegalFontSize: 13px;
    --AliasNormalNormalFontFamily: Inter;
    --AliasNormalNormalFontWeight: 400;
    --AliasNormalNormalLineHeight: 1.6;
    --AliasNormalNormalFontSize: 16px;
    --AliasNormalLedeFontFamily: Inter;
    --AliasNormalLedeFontWeight: 500;
    --AliasNormalLedeLineHeight: 1.3;
    --AliasNormalLedeFontSize: 20px;
    --AliasStrongLegalFontFamily: Inter;
    --AliasStrongLegalFontWeight: 700;
    --AliasStrongLegalLineHeight: 1.6;
    --AliasStrongLegalFontSize: 13px;
    --AliasStrongNormalFontFamily: Inter;
    --AliasStrongNormalFontWeight: 700;
    --AliasStrongNormalLineHeight: 1.6;
    --AliasStrongNormalFontSize: 16px;

    /* fontfamily */
    --Font-Inter: Inter;
    --Font-Object-sans: PP Object Sans;

    /* textcolor */
    --TextDefault: #3a3a3a;
    --TextMuted: #686868;
}